{% extends 'base.html.twig' %}
{% block body %}
  <div class="container">
    <h1>Nos stocks</h1>
    <div class="jumbotron">
      <h2>{{stock.item.id}}:{{stock.item.model}}
        <small>{{stock.item.manufacturer }}</small>
      </h2>
      <p>
        {{stock.item.description}}</p>
      <h2>Information sur le stocks</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>prix</th>
            <th>stock actuel</th>
            <th>stock minimum</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{stock.sellprice}}</td>
            <td>{{stock.currentstock}}</td>
            <td>{{stock.minstock}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endblock %}
